.footer.section
  ._wrap.wrap
    ._text © Business Booster, 2018–2019 Все права защищены 
    a(href="#", title="title")._link  Политика конфиденциальности 
    a(href="#", title="title")._link  Договор оферты  