@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
  color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;
  transition: $t-time;
  outline: none;


  &:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1180px;
  padding: 0 15px;

  @media (max-width: 1199px) {
    width: 970px;
  }

  @media (max-width: 992px) {
    width: 767px;
  }

  @media (max-width: 768px) {
    width: 95%
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  @media(max-width: 768px) {
    font-size: 34px;
  }

  @media(max-width: 576px) {
    font-size: 23px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 50px;
  box-shadow: 0 10px 20px rgba(252, 152, 28, 0.35);
  background-color: #fc981c;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.72px;
  position: relative;
  z-index: 10;

  &:hover {
    background-color: darken(#fc981c, 10%);
  }
}

.modal {
  background: rgba(#020203, 0.9);
}

@import "icons";
@import "../elements/banner/banner";
@import "../elements/training-program/training-program";
@import "../elements/mistakes/mistakes";
@import "../elements/motivation/motivation";
@import "../elements/empire/empire";
@import "../elements/info/info";
@import "../elements/training-format/training-format";
@import "../elements/footer/footer";
@import "../elements/modals/form/form";
@import "../elements/modals/thanks/thanks";