.training-format.section
  ._wrap.wrap
    ._contant
      ._title.title Время, место и формат прохождения тренинга
      ._list
        ._list-item 25 - 30 ноября
        ._list-item Онлайн, в любой комфортной для вас обстановке
        ._list-item 6 дней занятий с 17:00 до 18:45
        ._list-item Разбор инструментов от Александра Высоцкого
        ._list-item Практика под руководством консультанта
      ._info
        | Узнайте, как попасть в
        span._info.-yellow  “высшую лигу” 
        | и выйти в бизнесе на следующий уровень
      ._cost
        ._cost.-old 80 000 руб. 
        ._cost.-new 20 000 рублей
      ._box
        button(data-modal=".modal-form")._btn.btn Занять место на тренинге!
        ._box-text Количество мест ограничено, оплатите сейчас, чтобы гарантировать себе участие.
    img(src="img/training-format-img.png", alt="")._img