.motivation.section
  ._wrap.wrap
    ._title.title Этот тренинг для тех, кто устал развивать бизнес “вслепую” и хочет четко понимать, как должна выглядеть его компания на финише и какие инструменты ему нужны для того, чтобы ее построить:
    ._content
      ._img
        img(src="img/motivation-img.png", alt="")._photo

      ._list
        ._list-item Для тех, кому надоело работать 24/7, управляя собственным бизнесом, но они не знают <br class="motivation__br"> как передать функции сотрудникам.

        ._list-item Для владельцев, которые устали “тащить” бизнес на себе и хотят <br class="motivation__br"> продать его дорого.

        ._list-item Для предпринимателей, чей бизнес стремительно развивается и им <br class="motivation__br"> нужны новые знания и компетенции, чтобы эффективно управлять <br class="motivation__br"> растущей компанией.

        ._list-item Для владельцев, которые вышли из операционки и не хотят в нее <br class="motivation__br"> возвращаться, но обнаружили, что бизнес не развивается.

        ._list-item Для тех, кто самостоятельно начал процесс систематизации, но застрял и <br class="motivation__br"> нуждается в эффективной методологии, чтобы закончить начатое. 

