.empire.section
  ._wrap.wrap    
    ._title.title Станьте архитектором своей бизнес-империи 
    ._list
      ._list-item
        +icon('diamond')
        ._list-item-title Все супер-успешные бизнесы — это хорошо спроектированная система 
        ._list-item-descr Этот тренинг — ваш билет в “высшую лигу” собственников компаний, которые построили систему в бизнесе, масштабируют его, постоянно увеличивают свои доходы и при этом у них хватает времени на семью, друзей и любимые хобби.

      ._list-item
        +icon('one')
        ._list-item-title Один тренинг вместо одиннадцати  
        ._list-item-descr Вместо того, чтобы по крупицам собирать нужные знания, получите готовый набор инструментов и пошаговую инструкцию по их внедрению. Тренинг даст все необходимое, чтобы вы построили систему в своем бизнесе. 

      ._list-item
        +icon('people')
        ._list-item-title Основа для сильной команды    
        ._list-item-descr Без системы невозможно превратить “группу наемников” в сплоченную команду. В системной компании каждый сотрудник понимает, что может построить успешную карьеру и мотивирован работать эффективно долгие годы. Система и сильная команда — два компонента успешного бизнеса , а также залог построения своей корпорации. 


