.training-program.section
  ._wrap.wrap
    ._title.title Программа тренинга
    ._days-list
      ._days-list-item
        ._day День 1
        ._list-title Эволюция владельца бизнеса.
        ._list
          ._list-item Роль и функции владельца бизнеса, проблемы партнерства и как их решать.
          ._list-item Отношения с ТОП-менеджерами, которые могут стать партнерами.
          
      ._days-list-item
        ._day День 2
        ._list-title Оргсхема, система быстрого потока, найм и скорость роста.
        ._list
          ._list-item Ценный Конечный Продукт и ориентация на продуктивность.
          ._list-item Организующая схема компании и отделений и система быстрого потока. 
          ._list-item Быстрый найм и введение в должность.

      ._days-list-item
        ._day День 3
        ._list-title Система измерения результатов, ИЦО и его анализ.
        ._list
          ._list-item Измерение результатов как основа этики продуктивности. 
          ._list-item Статистики и графики статистик.
          ._list-item Использование Информационного Центра Организации, как инструмента анализа и роста руководителей.


      ._days-list-item
        ._day День 4
        ._list-title Планирование и координация. 
        ._list
          ._list-item Три уровня планирования, почему так важно оперативное.
          ._list-item Основные принципы недельного планирования.
          ._list-item Координация: типы и уровни, основные ошибки и решения.

      ._days-list-item
        ._day День 5
        ._list-title Управление финансами. Финансы и рост руководителей.
        ._list
          ._list-item Основной процесс управления финансами.
          ._list-item Рабочие финансовые модели.
          ._list-item Инструменты управления как система.

      ._days-list-item
        ._day День 6
        ._list-title Как внедрять изменения.
        ._list
          ._list-item Технология трансформации бизнеса в системную компанию.


