.mistakes.section
  ._wrap.wrap
    ._title.title Проблемы в вашем бизнесе сейчас из-за отсутствия четкого понимания, какой должна быть система в&nbsp;компании:
    ._list
      ._list-item
        ._list-item-title Вы действуете вслепую
        ._list-item-descr Предпринимателя можно сравнить с человеком с завязанными глазами, который пытается ночью построить дом. Что-то удалось нащупать, в этом вы разобрались, но не понятно, куда двигаться дальше и за что сейчас браться.

      ._list-item
        ._list-item-title Вы “изобретаете велосипед”
        ._list-item-descr Вместо того, чтобы взять готовую технологию, вы тратите время на “изобретение велосипеда” и ошибки, которых можно было избежать. Ваш бизнес годами стоит на месте, пока вы пытаетесь найти решение проблемам, которые уже давно решены.

      ._list-item
        ._list-item-title Вы не знаете где и какой искать помощи
        ._list-item-descr Пока вы не знаете, какой должна быть система, вы не понимаете, в чем компания нуждается сейчас, и какую помощь искать со стороны. Нанять тренера для продажников или внедрить финансовое планирование? Провести аудит отдела лидогенерации или заняться личным брендом? Лучшие тренинги и инструменты могут оказаться бесполезными, если у вас нет четкого представления, к чему вы идете.

      ._list-item
        ._list-item-title Выживание вместо развития
        ._list-item-descr Из-за отсутствия системы в бизнесе, вы занимаетесь “тушением пожаров” и оперативкой. У вас нет времени на стратегию и компания не растет. А если вы вы начинаете заниматься развитием бизнесе, то масштабируйте хаос и все становится хуже, чем было.

      ._list-item
        ._list-item-title Доходы не растут и это угнетает
        ._list-item-descr Чем больше компания, тем больше у вас проблем. При этом зарплата сотрудников съедает растущую прибыль. У вас начинают опускаться руки, потому что непонятно, как в вашем бизнесе может быть иначе.

    ._call-action
      ._text Получите понимание, как решить эти проблемы, за 6 дней по руководством Александра Высоцкого
      button(data-modal=".modal-form").btn._btn Оплатить участие в тренинге

