.info.section
  ._wrap.wrap
    ._text
      ._title.title Тренинг разработан лично Александром Высоцким, чтобы передать весь опыт, который был накоплен за 10 лет при создании программы по систематизации и ускорению бизнеса.

      ._descr
        p._paragraph Через консалтинг Александра и его консультантов прошли более 2000 компаний практически всех видов бизнеса, включая как небольшие (со штатом от 5 сотрудников и оборотом 15 тыс. долл./мес.), так и крупные, холдинговые компании (со штатом 10 тыс. сотрудников и оборотом 0,5 млрд долл./год и 80 филиалами).

        p._paragraph В данный момент в акселераторе “Business Booster” более 140 владельцев из 5 стран и 22 городов проходят его программу онлайн.
    ._img
      img(src="img/info-img.png", alt="")._photo