.modal.modal-form
  ._dialog
    ._content
      .form
        ._title оставить заявку
        input(type="text" placeholder="Ваше имя:")._input
        input(type="text" placeholder="Ваш e-mail:")._input
        input(type="text" placeholder="Ваш телефон:")._input
        button(type='submit').btn._btn Отправить заявку
        ._popup-close(data-role="modal-close") &#10006;