.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  max-width: 506px;
  width: 100%;
  background: #172446;
  position: relative;

  @media(max-width: 576px) {
    padding: 20px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    @media(max-width: 576px) {
      font-size: 25px;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    padding: 0 0 0 8px;
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: 0.64px;

    &::placeholder {
      color: #4d4d4d;
      font-size: 16px;
      letter-spacing: 0.64px;
    }

    &:first-child {
      margin: 30px 0 0 0;
    }

    &:not(:first-child) {
      margin: 20px 0 0 0;
    }
  }

  &__btn {
    margin: 30px 0 0 0;

    @media(max-width: 576px) {
      width: 250px;
    }
  }

  &__popup-close {
    position: absolute;
    top: -35px;
    right: -35px;
    font-size: 25px;

    @media(max-width: 576px) {
      right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}